.paper {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 1.5rem;
  box-shadow: none;
}
.form {
  display: flex;
  padding: 4rem 1rem 1rem;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 40%;
  /* [theme.breakpoints.down(sm)] {
    width: 80%;
  }
  [theme.breakpoints.down(xs)] {
    width: 100%;
  } */
}
.form button:nth-of-type(.1) {
  background-color: dodgerblue;
}
.chipInput {
  width: 100%;
}
.fileInput {
  width: 100%;
  margin-bottom: 1rem;
}
.buttonSubmit {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1rem;
}
